* {
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

body {
    background-color: lavender;
}

h1 {
    margin-top: 10px;
    font-size: xx-large;
}

header nav {
    display: inline-block;
    margin-left: 800px;
}

.logo {
    height: 100px;
}

main {
    margin: 10px;
}

main p {
    margin-top: 10px;
    margin-bottom: 10px;
}

main ol,ul {
    margin-left: 15px;
}

.txt_destaque {
    font-style: italic;
    color: cadetblue;
}

.sessao {
    margin: 25px;
}

footer {
    margin-top: 700px;
}

footer p {
    text-align: center;
    font-size: small;
}